html {
    font-family: sans-serif;
  }

  div {
    width: ;
    line-height: ;
    margin: ;

    font-size: ;

    text-align: center;
    color: ;

    text-shadow: ;
    
    border-radius: ;
    border: ;

    background-color: ;
    background-image: ;
    
    box-shadow: ;
  }