html {
    font-family: sans-serif;
  }

  div {
    width: 250px;
    line-height: 9;
    margin: auto;

    font-size: 1.1000rem;

    text-align: center;
    color: ;

    text-shadow: ;
    
    border-radius: ;
    border: ;

    background-color: red;
    background-image: linear-gradient(
        to top left,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2) 30%,
        rgba(0,0,0,0));
    
    box-shadow: ;
  }